
<div class="ui-g lld-footer animi" style="height: 55px;">
  
    <button (click)="menuShow()" class="toggleMenuBtn hvr-sweep-to-right" aria-hidden="true">
      <i class="fa fa-bars "></i>
    </button>


  </div>
  
  

  
  <!-- <div class="ui-g-2">
    <img src="assets\images\companyLogo.jpg" style="height: 9vh" />
  </div>
  <div class="ui-g-8" style="text-align:  center;font-weight: bold; font-size: 50px; vertical-align: middle">Legal Draftman's Department</div>
  <div class="ui-g-2" *ngIf="router.url != '/login'">
    <img src="assets\images\user.png" style="height: 9vh"/>
  </div> -->



