<!-- <app-topbar></app-topbar> -->

  <div class="ui-g login-panel login-title" >
    <div class="ui-g" >
      <p-panel header="User Login" >

        <div class="ui-g ui-fluid" >
          <div class="ui-g-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" pInputText placeholder="Username">
            </div>
          </div>

          <div class="ui-g-12" >
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">
                <i class="fa fa-key"></i>
              </span>
              <input type="password" pInputText placeholder="Password">
            </div>
          </div>
        </div>
      <br>

      <div style="text-align:center;">
        <button pButton type="button" label="Login" (click)="doLogin()"></button>
      </div>
      
        
      </p-panel>
    </div>
  </div>
