<div class="ui-g login-panel login-title" style="height: 100%;">

    <div class="ui-g-4 "></div>
    

  <div class="ui-g-4  ">
    <p-panel header="Change Password" >

      <div class="ui-g ui-fluid" style="background-color: rgba(190, 190, 189, 0.582)">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" pInputText placeholder="User Name">
          </div>
        </div>

        <div class="ui-g-12" >
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password" pInputText placeholder="Current Password">
          </div>
        </div>

        <div class="ui-g-12" >
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password" pInputText placeholder="New Password">
          </div>
        </div>

        <div class="ui-g-12" >
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password" pInputText placeholder=" Confirm Password">
          </div>
        </div>
      </div>
    <br>

    <div style="text-align:center;">
      <button pButton type="button" label="Ok" ></button>
      <button pButton type="button" label="Cancel" ></button>
    </div>
    
      
    </p-panel>
  </div>

  <div class="ui-g-4 "></div>

</div>
