
:host {
    background: #07507F;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
   
  ul {
    font-size: 18px;
    line-height: 2.5;
    padding-left: 0px;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
  }

  li {
      outline: none;
      padding-left: 40px;
      width: 100%;
      font-size: 14px;
      height: 35px;
      cursor: pointer;
  }

  li i {
      margin-right: 20px
  }