<ul>
  <li class="hvr-sweep-to-right" ><i class="fa fa-user fa-lg"></i> User Maintenance</li>
  <li class="hvr-sweep-to-right" (click)="routerService.validateRoute('/batch-creation')" > <i class="fa fa-book fa-lg"></i> Batch Creation</li>
  <li class="hvr-sweep-to-right" (click)="routerService.validateRoute('/data-entry')"> <i class="fa fa-database fa-lg"></i> Data Entry</li>
  <li class="hvr-sweep-to-right" (click)="routerService.validateRoute('/exception-queue')"> <i class="fa fa-bug fa-lg"></i> Exception Queue</li>
  <li class="hvr-sweep-to-right" (click)="routerservice.validateRoute('/verification-entry')"> <i class="fa fa-check fa-lg"></i> Verification Entry</li>
  <li class="hvr-sweep-to-right" > <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> PDF Generation</li>
  <li class="hvr-sweep-to-right" > <i class="fa fa-upload fa-lg" aria-hidden="true"></i> Export Data</li>
  <li class="hvr-sweep-to-right" > <i class="fa fa-bar-chart fa-lg"></i> Reporting</li>
  <li #profile (click)="openProfileMenu()" class="hvr-sweep-to-right"> <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Profile</li>
  <p-contextMenu #profileMenuEl [target]="profile" [model]="profileMenu"  ></p-contextMenu>
  
  <!-- <li #batch1 (click)="openBatchMenu()" class="hvr-sweep-to-right"> <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> BatchOpen</li>
  <p-tieredMenu #batchMenuEl  [model]="batchMenu" ></p-tieredMenu> -->
  <!-- <li #menu (click)="openBatchMenu()" class="hvr-sweep-to-right"></li><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Batches</li> -->
  <!-- <p-tieredMenu #batchMenuE2 [target]="menu" [model]="batchMenu" ></p-tieredMenu>  -->
</ul>
















<!-- <div class="ui-g" style="background-color: gray">
  <div class="ui-g-2">

    <p-menu [model]="items"></p-menu>




  </div>
  <div class="ui-g-10 ui-g-nopad" style="height: 80vh">

    content

  </div>

</div> -->


<!-- <p-menu [model]="items"></p-menu> -->


<!-- <div id='cssmenu' style="height: 90vh;overflow: hidden">
  <ul style="overflow: hidden">
    <li>
      <a href='#'>
        <span>Home</span>
      </a>
    </li>
    <li class='active has-sub'>
      <a href='#'>
        <span>Products</span>
      </a>
    
    </li>
    <li>
      <a href='#'>
        <span>About</span>
      </a>
    </li>
    <li class='last'>
      <a href='#'>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</div> -->

<!-- 
<ul>
  <li ><a class="active" href="#home"><i class="fa fa-user fa-lg"></i>User Maintenance</a></li>
  <li><a routerLink="/batch-creation"><i class="fa fa-book fa-lg"></i>Batch Creation</a></li>
  <li><a routerLink="/data-entry"><i class="fa fa-database fa-lg"></i>Data Entry</a></li>
  <li><a href="#about"><i class="fa fa-bug fa-lg"></i>Exception Queue</a></li>
  <li><a href="#about"><i class="fa fa-check fa-lg"></i>Verification Entry</a></li>
  <li><a href="#about"><i class="fa fa-download fa-lg"></i>Pdf Generation</a></li>
  <li><a href="#about"><i class="fa fa-bullhorn fa-lg"></i>Export Data</a></li>
  <li><a href="#about"><i class="fa fa-bar-chart fa-lg"></i>Reporting </a></li>
</ul> -->