
<div class="ui-g">
    
<div class="ui-g-6" >
      <p-panel header="Gazette Creation" >          
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Batch ID</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Created By</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Created Date</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Document Preapre By</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Scanned User</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Scanned Date</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Year</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Start Month</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">End Month</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Other 1</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Other 2</label>
          </span>
          <br>
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Other 3</label>
          </span>
          <br>         
          <br>

      </p-panel>
  </div>


<div class="ui-g-6" >
    <p-panel header="Gazette Creation" >        
        <br>
        <br>
        <br>
        <br>
        <span class="ui-float-label">           
            <label for="float-input">Image Path</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="60" pInputText> 
            <button pButton type="button" label="Open" ></button>
        </span>     
        <br>
        <br>
        <br>
        <span class="ui-float-label">           
            <label for="float-input">Number of Images</label>
        </span>
        <br>
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText> 
            <button pButton type="button" label="Check" ></button>
        </span>
      
    </p-panel>
</div>

</div>

<p-toolbar>    
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Back" (click)= "doBatchCreation()"></button>
        <button pButton type="button" label="Save" (click)="doLogin()"></button>
        <button pButton type="button" label="Create" (click)="doLogin2()"></button>
        <button pButton type="button" label="Close" (click)="doLogin()"></button>
    </div>
</p-toolbar>
