<div class="ui-g">
    
  <div class="ui-g-6" >
      <p-panel header="Gazette Verification Entry" >  
        <div>
            <img src="assets\images\gazette.jpg" />
        </div> 
        <br>       
        <div>
        <span class="ui-float-label">           
          <label for="float-input">Image Path</label>
      </span>
      </div>
          <br>
          <div>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="60" pInputText> 
          
      </span> 
      </div>
      <br/>
      <div align = "center">
        
          <button pButton type="button" label="Open" ></button>
        <button pButton type="button" label="Refresh" ></button>
      
    </div>     
        <!-- <zoomable-canvas 
        [image]="assets\images\gazette.jpg"
        (topChange)="top = $event" (bottomChange)="bottom = $event" 
        (leftChange)="left = $event" (rightChange)="right = $event"
        [(centerX)]="centerX" [(centerY)]="centerY"
        [(zoomLevel)]="zoomLevel" [maxZoom]="maxZoom" [minZoom]="0"
        (canvasWidthChange)="canvasWidth = $event" (canvasHeightChange)="canvasHeight = $event"
    ></zoomable-canvas>   -->
          
  
      </p-panel>
  </div>
  
  
  <div class="ui-g-6" >
    <p-panel header="Gazette Information" >        
      <div align="center">
          <button class="ui-toolbar-group-left" pButton type="button" label="Previous" ></button>
          <label for="float-input">Count</label>
          <input type="text" size="10" pInputText [disabled]="true" />
          <button class="ui-toolbar-group-right" pButton type="button" label="Next" ></button>
      </div> 
      <br>
      <br>
      <label for="float-input">Batch ID</label> 
      <br>
      <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [disabled]="true"> 
      </span> 
      <br>
      <br>
      <label for="float-input">Sequence</label>
      <br>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [disabled]="true">         
      </span>
      <br>
      <br>
      <label for="float-input">Gazette No</label>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText> 
      </span>
      <br>
      <br>
      <label for="float-input">Date</label>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>          
      </span>
      <br>
      <br>
      <label for="float-input">Language</label>
      <span class="ui-float-label">
          <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
          
      </span>
      <br>
      <br>
      <label for="float-input">Part No</label>
      <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>          
      </span>
      <br>
      <br>
      <label for="float-input">Extra Ordinary</label>
      <span class="ui-float-label">
          <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2"></p-dropdown>
         
      </span>
      <br>
     
           
    </p-panel>
  </div>
  
  </div>
  
  <p-toolbar>    
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Verify" ></button>
        <button pButton type="button" label="Close" ></button>
    </div>
  </p-toolbar>