
<!-- <pre>
  MNMNMNDZ77$$8OZ$O$??I$Z7I$$7?++==~?~++?II$OZ$ZOI++=+?$$$I7O88$$$NZOZO88DNDNMNNMN
  MMMDDD87$$$OOZ$8ZIII8O$$ZO7I++==:I~I7=$8O$$I7$$$?+?+++?I?7$$+Z$Z$DZOZZ8DNND8NMMN
  MMNDNO$$Z$OD8$7ZI7$ZDZZOO7+?+~?~==8D$88$7?~~+II$?I=++??=?7II?78ZZODZO$ZDNNNDNNNN
  N8MD8$IZ$8MNDOOZ$$OOO$O8Z+:??I=~ZOZ8Z7$++=,,~??I?I?~?+?III=+7+IDO$O8Z$$8DNDNMNNN
  NDDOZZZZOMNM$$8Z7$78Z8NOI~$$+~:OO$D88I7~~,..,+I77I?+~I?II$~+7II788Z8Z$OZODNNNNMN
  Z$7ZOOOOODM8OD7$$$$DONN$?ZZ===ZD+8ZI87~~:...:7I7$+7I=77III+II$?$$OZOO$ZZZODNNNMM
  $8D888888NDZO8OZOZ$DDMDO8OZ???D7NNI?8I+~::,,?IIII7I$?I7I$7?7?ZIZ8ZZ7N8O8ZZZ8NMMM
  DDDDDDDOD8888O8DZZO8NNDDNZ$N7D$8N7?+DI:~:::?7$?$7+I777$7$$IZ8MOZ8OOO8N8O8ZZDMMMM
  NNNNDDNDO8DDD88NODO8ND8O$787ZNZD7~~+$7~=~~~Z$ZII7?+$I7$7$$DMNIDDDN8DO8NN8O$ODNMM
  NDD88DN8Z8NNDM8D8N8DNND877Z$Z$8MND?$~$I+?=$7Z$777?=?8?O$Z$MM8MMONMNDO8DDD8OZDMNM
  D88DZNM8DOMNMNNM8MD888DZ7I?+D78D77ZDI~~::7?$7I7I==~+7OZ$88MMNMM8NM88N8DNNOOO88MM
  D8Z8$DDOM8NMDNMMNMDOOOZ$$+=Z?$O+~8$Z$O7=$+??7I+==:=?7I$$ZDNMMMMNM8OZDOOONO8ODNNM
  O8Z77D88MDMM8MNNNNDO$OI=++8+IIO8I++I?I=I?+???====,~~~==$IDMNNMNMOOOO8OZZNM8ONMMM
  OZ$I$OZD8NMMMNNNMMD8O7=~=?+=++=+??I++++++I=??I?=++==~=+=$8ONMMNNN8$OO8ZZOMMO8NMM
  $$?IZZ7NNMMMMNMMMMN8OZ=~IZI777777?+=+?7?II+?II~+?Z7$I?++Z88NMMMMN8OO8OOZZDMM88NM
  $7?$8OONMMMMMMMMMMDN8Z$$$OOO88OOZ$$7$$II7777$OZ8DDDDDN8OODDDMMMMMDD88D8ZZONMDNNN
  Z7$OO88NDMMMMMMMMMN8D88DMNNMMMNNMD88ZI+++IZONMMNN8DMDMMMDNNNDNMMMD88O8OZO8NNN8MM
  $Z$ZD8DNMMMDMMMMMNO8D8DMMO$D7I7D$8D8O?:,,=$NNM77I7ZZNNMMMMND88MMMMMNNMDDONMNN88N
  ZZDD$88DMNMDMMMMMNOOZO888OZ877$DZ8887~,..,?ZNOZ?=+?I7$8NN8ZZZZMMMMMMNMMN8MMD8MDO
  D8DZ8OZMDDNMMMMMMZZ8OOOZOOZZ7$7ZODZ+~,,,,,,=?7I$OO88DOIII?$$??OMMNONNMMN8MMD8N8O
  DN888ZDMDONMMMMMNZZ$$I++?7ZOOZ$7=:::~~,,=:::,,~~===~~~~:~~~=7?DMMDNMDMDNNMN8ZOND
  DDNDODMD8OMMMMMMMZI+++~:::~~~:,,.,,,::...,:I,..,..........,?IONMNN88MNDNDNNOZZON
  MDMD8DMM8OMMMMMMMZO8~=~::,~~.....,,,.......,~~,.........,,?I$8MNN8MMN88ONMN8Z8OO
  NMNNNMMM8NMMMMMMNZ8Z$I~~~,~=$I,.~+::........,,~7~,...,,~~7$$8ZM8MNNMDO8ZMMD8O888
  NMMMDMMDNMMMMMMNMO888I===,,=Z~?$$,,==~,,,::==:~7Z+:,,,::~+I7I88NMMMM88ODMMN88ZDN
  MMNMDNMMMMMMMMMMM$OO$7+=~~:?ZZO$II7$O$777$888OZ?$7I=~~~=+?7+INDMMMMM8O$NMM88DDO8
  MMMNNNNMMMMMMMMMND7O$7?++=?8$O7~~777$$7$7$ODDZZ~:+$?7II?7?~?8DMMMMMMO$ZDMMD88D88
  MNMNMMMMMMMMMMMMNN$Z8O$777$$$I:::II7I7$777Z$ZOI,.=7ZZZ$OZ+$8N8MMMMMMOZO8MMD888DD
  NNDMMMMMMMMMMMNMMMN$ZDDZ7$$Z$=~~~=III?77?I$7I=:,:==+8O8O7ONNMMMMNMNMDZO8MMO8DO8D
  MDMMMMMMMMMMMMMMMMM8Z$8DZ$$Z$$7I77$ZZZ$$ZOZ$77$$$77$O8$$$8MMMNMMMMDMDO8DMD888O8D
  NMMMMMMMMMMMMMMMMMM8ZZO88ZZZ8NMDDNMNNDDNMDMMMMMMMMMM8Z77$NNNNMMMMNND88ODDD8OOOOD
  NMMMMMDMMMMMM8NMMMMMOZ$Z$ZZOZZ8MMNMNM88O8ODMMMMNMM8MNOZODNMMMMMNMMM8ZOODDD8ZO88D
  MMMMMNDMMMMMMMMNMMMMMZ$$$7$7$7$ZDNNDDODZMODO8NDD=78M8ZO8NMMMMMMMMMD8$OD8MNDZ88DN
  MMMNNNDMMMMMMMMMMMNMMMZZ$7I?=??I7$O77OODDZI::+IIIZO87O8NMMMNMMM8MMN87$NDMZDO888N
  MMDNN8MMMMMMMMMMNMMMMMM8O$I?=~=?I77$$$Z$Z$??$$$$8N8I$DMMMMMMMMNZMMDOIO8MMDN8DO8M
  NM8MNDNMMMMMMMMMMDNMMMMNDO$7?+~=?Z77I7$$ZO8DNNDDDZ?7OMMMMMMMMMNZMNZ7788MMMMNND8D
  D8DMNNMMMNMMMMMMM8DMMMMMNDOZ7I?++I????I7$7$$ZOOZZ7Z8MMMMMMMMMMNDMO$7$Z8MMMMMMD8N
  ODNNMMMMMMMMMNMMMD8MMMMMMDOZZ$7II+?+=+?~~=+??III$7$MNMMMMMMNMMDMNZI7$$8MMMMMMM8N
  DNNMMMMMMMMMMDMMDD8MMMMMMMNZZ$$$$$7$I??7~==~~=+IINMMMMMMMMMMMMDN8ZI7OODMMMMMMMND
</pre> -->
<img src="assets\images\dmsLogo.jpg" align="right" />
<div class="appTitle" >Batch Status :

    
</div>


<div>
  <br>
  <p-chart type="pie" [data]="data"></p-chart>
  <br>
 
  
</div>

