<p-toolbar>
    <div class="ui-toolbar-group-left">
      <!-- <span style="font-size: 20px;vertical-align: middle"> Verification Entry</span> -->
      <p-inputSwitch onLabel="Gazette" [(ngModel)]="batchMode" (onChange)="getBatchMode()"  offLabel="Law Book"></p-inputSwitch>
    </div>
   
</p-toolbar>



<div style="margin: 10px" *ngIf="batchMode">
    <p-dataTable [value]="cars" [loading]="false">
        
        <p-column field="vin"  [filter]="true" filterPlaceholder="Batch ID"></p-column>  
        <p-column field="color" [filter]="true" filterPlaceholder="Status"></p-column>      
        <p-column field="color" [filter]="true" filterPlaceholder="Count"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Created By"></p-column>        
        <p-column field="color" [filter]="true" filterPlaceholder="Created Date"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Document Prepare By"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Scanned User"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Scanned Date"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Year"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Start Month"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="End Month"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 1"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 2"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 3"></p-column>
        <p-column field="color" [filter]="false" header="Action">
            <ng-template let-car="rowData" pTemplate="body">
                <button type="button" pButton (click)="selectCar(car)" label="Assign"></button>
            </ng-template>

        </p-column>
     
    </p-dataTable>
    <br/>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Close" ></button>
    </div>
  </div>
  
  
  <div style="margin: 10px" *ngIf="!batchMode">
      <p-dataTable [value]="cars" [loading]="false">        
        <p-column field="vin"  [filter]="true" filterPlaceholder="Batch ID"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Status"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Count"></p-column>        
        <p-column field="color" [filter]="true" filterPlaceholder="Created By"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Created Date"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Document Prepare By"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Scanned User"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Scanned Date"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Book Title"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 1"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 2"></p-column>
        <p-column field="color" [filter]="true" filterPlaceholder="Other 3"></p-column>
        <p-column field="color" [filter]="false" header="Action">
            <ng-template let-car="rowData" pTemplate="body">
                <button type="button" pButton (click)="selectCar(car)" label="Assign"></button>
            </ng-template>

        </p-column>
      </p-dataTable>
      <br/>
      <div class="ui-toolbar-group-right">
          <button pButton type="button" label="Close" ></button>
      </div>
    </div>
