

<app-topbar></app-topbar>
<p-progressBar mode="indeterminate" *ngIf="progressBar" [style]="{'height': '6px'}"></p-progressBar>
<p-sidebar [(visible)]="displayMenu" [style]="{width:'250px','padding':'0'}">
    <app-sidebar [style]="{padding:'0', 'margin':'0'}"></app-sidebar>
</p-sidebar>

<router-outlet></router-outlet>
<app-footer></app-footer>
